	@media screen and (max-width: 480px) {
	  html, body {
	    min-width: 320px;
	  }
	}

	html {
	  height: 100%;
	}

	/* BODY ANIMATION */
	.breathingAnimation {
	  position: fixed;
	  background-color: #340a1c;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}


	/* Type */

	body {
	  height: 100%;
	  background-color: #5D6D7E;
	  color: #605770;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 17px;
	  font-weight: 300;
	  /*line-height: 2;*/
	  letter-spacing: 0.2em;
	}

	@media screen and (max-width: 1680px) {
	  body {
	    font-size: 11pt;
	  }
	}

	@media screen and (max-width: 480px) {
	  body {
	    font-size: 10pt;
	    line-height: 1.75;
	  }
	}

	.me {
	  color: inherit;
	  cursor: pointer;
	  transition: 0.5s 0.5s ease-in;
	}

	.me:hover {
	  color: #F98E40;
	  transform: rotate(360deg);
	}

	p {
	  margin: 0 0 1.5em 0;
	}

	.box-2 {
	  flex: 1;
	  color: #B7B7B7;
	  align-self: stretch;
	  background-color: #4B4E6D;
	}

	.box-1 {
	  flex: 2;
	}

	h1 {
	  line-height: 1.5;
	  font-size: 1.85em;
	  letter-spacing: 0.22em;
	  margin: 0 0 0.525em 0;
	}

	@media screen and (max-width: 480px) {
	  h1 {
	    font-size: 1.65em;
	  }
	}
	/* List */

	ul {
	  list-style: disc;
	  margin: 0 0 1.5em 0;
	  padding-left: 1em;
	}

	.icons {
	  padding-left: 0;
	  margin-top: -0.675em;
	}

	li {
	  display: inline-block;
	  padding: 0.675em 0.5em;
	}

	ul.icons li .me {
	  text-decoration: none;
	  position: relative;
	  display: block;
	  width: 3.75em;
	  height: 3.75em;
	  border-radius: 100%;
	  border: solid 1px #c8cccf;
	  line-height: 3.75em;
	  overflow: hidden;
	  text-align: center;
	  text-indent: 3.75em;
	  white-space: nowrap;
	}

	.icons li {
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	}

	ul.icons li .me:before {
	  color: #ffffff;
	  text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
	}

	ul.icons li .me:hover:before {
	  text-shadow: 1.25px 0px 0px #F98E40, -1.25px 0px 0px #F98E40, 0px 1.25px 0px #F98E40, 0px -1.25px 0px #F98E40;
	}

	ul.icons li .me:before {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: inherit;
	  height: inherit;
	  font-size: 1.85rem;
	  line-height: inherit;
	  text-align: center;
	  text-indent: 0;
	}

	ul.icons li .me:hover {
	  border-color: #F98E40;
	}
	/****NAV*****/

	@keyframes bounce {
	  15% {
	    transform: translateY(0);
	  }
	  30% {
	    transform: translateY(-50%);
	  }
	  40% {
	    transform: translateY(0%);
	  }
	  50% {
	    transform: translateY(-30%);
	  }
	  70% {
	    transform: translateY(0%);
	  }
	  80% {
	    transform: translateY(-15%);
	  }
	  90% {
	    transform: translateY(0%);
	  }
	  95% {
	    transform: translateY(-7%);
	  }
	  97% {
	    transform: translateY(0%);
	  }
	  99% {
	    transform: translateY(-3%);
	  }
	  100% {
	    transform: translateY(0);
	    opacity: 1;
	  }
	}

	a {
	  transition: 0.5s 0.5s ease-in;
	}

	.work {
	  cursor: pointer;
	  animation: bounce 7s 5s both alternate-reverse linear;
	  animation-iteration-count: 3;
	}

	.resume:hover {
	  color: #F98E40;
	  transform: rotateZ(90deg);
	}

	.nav-cons {
	  display: inline-block;
	  padding: 0.675em 0.5em;
	}

	ul.icons .nav-cons a {
	  text-decoration: none;
	  position: relative;
	  display: block;
	  width: 3.75em;
	  height: 3.75em;
	  border-radius: 100%;
	  border: solid 1px #c8cccf;
	  line-height: 3.75em;
	  overflow: hidden;
	  text-align: center;
	  text-indent: 3.75em;
	  white-space: nowrap;
	}

	ul.icons .nav-cons a:before {
	  color: #ffffff;
	  text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
	}

	ul.icons .nav-cons a:hover:before {
	  text-shadow: 1.25px 0px 0px #F98E40, -1.25px 0px 0px #F98E40, 0px 1.25px 0px #F98E40, 0px -1.25px 0px #F98E40;
	}

	ul.icons .nav-cons a:before {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: inherit;
	  height: inherit;
	  font-size: 1.85rem;
	  line-height: inherit;
	  text-align: center;
	  text-indent: 0;
	}

	ul.icons .nav-cons a:hover {
	  border-color: #F98E40;
	}

	.icons .nav-cons {
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	}
	/*NAV END*/



	@media screen and (max-width: 480px) {
	  ul.icons li .me:before {
	    font-size: 1.5rem;
	  }
	}
	/* Main */

	.main {
	  width: 55%;
	  background: #8D99AE;
	  border-radius: 9px;
	  opacity: 0.90;
	}

	@media screen and (max-width: 480px) {
	  .main {
	    min-width: 0;
	    width: 100%;
	    padding: 4em 2em 2.5em 2em;
	  }
	}
	/* Footer */

	.footer {
	  align-self: flex-end;
	  height: 1%;
	  width: 100%;
	  padding: 1.5em 0 0 0;
	  color: #F7F9F9;
	  text-align: center;
	}

	#flex-container {
	  display: flex;
	  align-items: flex-start;
	}
	/* Wrapper */

	#wrapper {
	  display: flex;
	  align-items: center;
	  justify-content: space-around;
	  flex-direction: column;
	  position: absolute;
	  perspective: 1200px;
	  min-height: 100%;
	  min-width: 100%;
	}

	#wrapper>* {
	  z-index: 1;
	}

	#wrapper:before {
	  content: '';
	  display: block;
	}

	@media screen and (max-width: 360px) {
	  #wrapper {
	    padding: 0.75em;
	  }
	}

	.about {
	  padding: 5% 3% 0%;
	  position: absolute;
	}

	.pic {
	  padding: 50% 10%;
	}

	.name {
	  align-items: flex-end;
	}


/* WORKS */
	.projectOne {
	  background-color: #90C3C8;
		display: flex;
		justify-content: space-around;
	}

	.projectTwo {
	  background-color: #759FBC;
		display: flex;
		justify-content: space-around;
	}

	.projects {
		/*margin: 2.5%;*/
		width:88%;
		padding:0.5% 0.5%;
	}

	/*.flex-work-menu {
	  position: fixed;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  right: 0;
	}*/


	.js-open{
		position: fixed;
		top: 0;
	  right: 0;
		width: 100%;
	 	height: 100%;
	  z-index: 9999;
	  background-color: #9D91A3;
	  display: none;
	  flex-direction: column;
	  animation: layerin 0.4s cubic-bezier(0.13, 0.37, 0.24, 1);
		overflow: scroll;
	}

	@keyframes layerin {
	  from {
	    opacity: 0;
	    transform: translate3d(100px, 0, 0);
	  }
	}

	.header {
		margin: auto;
		padding-bottom: 5%;
	}

	button{
		border:none;
		cursor: pointer;
		background-color: #9D91A3;
		outline: none;
		align-self: flex-start;
	}

	button:hover {
		color: #726E75;
		transition: 0.2s 0.5s ease;
		transform: rotate(180deg);
	}

	.gif{
		padding:1%;
	}

	.summary{
		align-self: baseline;
	}
